.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-container{
    flex: 1;
}
.shift{
  margin-left: 25%;
}
.shade{
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.3));
}
